
{% extends 'base.html' %}


{% block content %}

   

        {% if messages %}
            {% for rosemane in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
              <strong>{{ rosemane }}</strong>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            
            {% endfor %}
        {% endif %}

        <!-- {% if user.is_authenticated %}
            <h2>welcome {{user.username}}</h2> 
        {% endif %} -->
    <a href="{% url 'add_student' %}" class="btn btn-secondary mt-5">Add student </a>

      {% if students %}




       <table class="table  mt-5">
        <thead>
          <tr>
            <th scope="col">Num</th>
            <th scope="col">Image</th>
            <th scope="col">Nom</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            
            <th scope="col">Action</th>

          </tr>
        </thead>
        <tbody>
            {% for student in students %}
           
          <tr>
            <th scope="row"> {{student.id}} </th>
            <th scope="row"> 
              <img src="{{'student.image.url'}}" alt="">
            </th>
            <td>{{ student.name }}</td>
            <td>{{ student.email }} </td>
            <td> {{student.phone_number}} </td>
            <td>  <a class=" btn btn-success" href="{% url 'update_student' student.id %}">update</a>
              <a class=" btn btn-danger" href="{% url 'delete' student.id %}">Delete</a></td>
            
          </tr>
          
        </tbody>
        
        {% endfor %}


      </table>


      {% endif %}
        


{% endblock %}
